.formVendedores {
    width: 50%;
    display: block;
    float: left;
    clear: both;
    margin-left: 25%;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 30px;
}

.tablaDatos{
    display: block;
    float: left;
    clear: both;
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}

h1{
    text-align: center;
    margin-top: 20px;
}